/* colors */
$color-primary: #08ADE2;
$color-white: #FFF;
$color-black: #000000;
$color-light-black: #4C4C4C;
$background-primary: #0568AE;
$color-button-light-blue: #009FDB;
$color-button-blue: #0681B9;
$color-button-border-orange: #FE7E0F;
$color-button-orange: #EF6C02;
$color-button-dark-blue: #0469AE;
$color-button-border-grey: #D2D2D2;
$color-line: #DDDDDD;
$color-dark-grey: #595959;
$background-secondary: #F2F2F2;
$form-placeholder: #767676;

/*  fonts */
$font-light: 300;
/*$font-Open-sans: 'Open Sans', sans-serif;
$font-ss-pika: 'SS Pika', sans-serif;*/