.values {
	&__list {
		display: flex;
		margin: 0;
		list-style: none;
		margin-bottom: 21px;

		li:not(:first-child):not(:last-child) {
			padding: 0 10px;
		}

		@media screen and (min-width: 1200px) {
			display: none;
		}
	}
	.add-on {
		&__content {
			padding: 0 20px;
			&-image {
				margin-bottom: 18px;

				&.show-desktop {
					display: none;

					@media screen and (min-width: 1200px) {
						display: inline-block;
					}
				}
				
				@media screen and (min-width: 1200px) {
					width: 112px;
					height: 98px;
				}
			}
			&-title {
				font-size: 18px;
				line-height: 32px;
				color: $color-button-light-blue;
				margin-bottom: 10px;

				@media screen and (min-width: 1200px) {
					font-size: 18px;
					line-height: 20px;
				}
			}
			&-text {
				font-size: 26px;
				line-height: 32px;
				margin-bottom: 15px;

				&--desktop {
					display: none;

					@media screen and (min-width: 1200px) {
						display: inline-block;
					}
				}
				&.reg {
					@media screen and (min-width: 1200px) {
						display: none;
					}
				}
				&.no-reg {
					display: none;

					@media screen and (min-width: 1200px) {
						display: inline-block;
					}
				}

				@media screen and (min-width: 1200px) {
					font-size: 18px;
					line-height: 23px;
					margin-bottom: 10px;
				}
			}
			&-hint {
				font-size: 11px;
				line-height: 12px;
				color: $color-dark-grey;

				@media screen and (min-width: 1200px) {
					font-size: 8px;
					line-height: 9px;
				}
			}
		}
	}
}